/* selector universal*/
*{
    margin: 0;
    padding: 0;

}

/*selector de etiqueta*/
body{
    background-image: url(/img/00.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(7, 7, 7);
    
}
/*selector id*/

#encabezado{
    width: 80%;
    margin: 2em;
    border-radius: 6px;
    text-align: center;
    

}
.container{
    max-width: 1110%;
    margin: 0 auto;
}

#menn
{
    height: 6%;
    background-color: rgb(67, 90, 94);
    margin: 1em;
    border-radius: 5px;


}

.menu{
    position: relative;
top: 90;
left: 0;
right:0;
display: flex;

align-items: center;
justify-content: center;
z-index: 1000;
}

.menu .navbar ul li 
{
    position: relative;
     float: left;
}
.menu .navbar ul li a
{
    font-size: 18px;
    padding: 20px;
    color: rgb(14, 12, 12);
    display: block;
}
.menu .navbar ul li a:hover{
    color: rgb(13, 17, 17);
}
#menu{
    display: none;
}
.menu-icono{
    width: 100%;
    
    background-color:black ;

}
.menu label{
    cursor: pointer;
    display: none;
}

@media(max-width: 991px)  {
    .menu{
        padding: 30px;
        
    }
    
    .menu label {
        display: initial;

    }

    .menu .navbar{
        position: absolute;
        top: 90%;
        left: ;
        right:;
        background-image: url(/img/00.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
    
}

#mmenu{
    height: 4%;
    background-color: rgb(199, 201, 197);
    margin: 1em;
    border-radius: 7px solid white;
}
/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;

}
img:hover{
    width: 50%;

}

li a:hover{
    color:rgb(160, 36, 36);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
/*selector de clase*/
.img{
    width: 50%;
    border-radius: 40px;
    justify-items: center;


}
.texto{
    text-align: center;
    font-family: :'Times New Roman', Times, serif
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(14, 13, 13);

}
#pie{
    height: 55px;
    background-color: #8b8d81;
    margin: 1.5em;
    text-align: center;
    padding: 4px;
    border-radius: 4px;


}

#pie h4{
    padding: 15px;
    font-size: 20px;
    color: rgb(227, 227, 241);
}
.card{
    box-shadow: 0px 4px 8px 0px rgba(23, 18, 18, 0.2);
    overflow: hidden;
    max-width: 270px;
    margin:auto ;
    color: darkgray;
    text-align: center;
    border: 2px solid;
    border-radius: 7px ;
    margin-bottom: 13px;
}

   

.card img{

width:75% ;
}

.card img{
    background-color: rgb(201, 198, 198);
width: 100%;

}
.title{
    color: rgb(15, 11, 11);
    font-size: 15px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(244, 235, 235);
    background-color: rgb(13, 12, 12);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
button:hover{
    background-color: dimgray;
}
.pompiere-regular {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.kalnia-<uniquifier> {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
}

/* FLEXBOX*/
*{

    box-sizing: border-box;
}
.contenedorFlex{
    display: flex;
    width: 100%;
    height: 300%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    
}
/*MEDIA Q */

@media screen and (max-width:1200px){

    body{
        background-color: black;
        color: rgb(16, 16, 18);
    }
    
    
}
@media screen and (max-width:900px) {
     body {
        background-color: rgb(175, 202, 202);
        color: rgb(31, 28, 28);
     }
     .titulo{
        font-size: 25px;
     }
     .img{
        width: 70%;
     }
}
@media screen and (max-width:600px) {

    body {
        background-color: rgb(142, 202, 202);
        color: rgb(13, 15, 13);
     }
     .titulo{
        font-size: 20px;
     }
     .img{
        width: 60%;
     }
     .menu{
        width: 30%;
     }
}
@media screen and (max-width:400px) {

    body {
        background-color: rgb(131, 136, 145);
        color: rgb(17, 17, 18);
     }
     .titulo{
        font-size: 50px;
     }
     .img{
        width: 50%;
     }
     .menu{
        display: block;
     }

            

             
}








