@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Original+Surfer&family=Road+Rage&display=swap');
/*selector universal*/
*{
    margin: 0;
    padding: 0;

}

/*selector de etiqueta*/
body{
    background-image: url(/img/xxxoo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}
/*selector id*/



.container{
    max-width: 1110%;
    margin: 0 auto;
}
.fondo{
    padding: 32px 0;
    background-color: rgb(128, 131, 141);

}
.menu{
position: absolute;
top: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
}
.menu .navbar ul li 
{
    position: relative;
  float: left;
}
.menu .navbar ul li a
{
    font-size: 18px;
    padding: 20px;
    color: rgb(241, 228, 228);
    display: block;
}
.menu .navbar ul li a:hover{
    color: rgb(13, 17, 17);
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

@media(max-width: 991px)  {
    .menu{
        padding: 30px;
    }
    
    .menu label {
        display: initial;

    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
    
}
#mennu{
    height: 6%;
    background-color: rgb(67, 90, 94);
    margin: 1em;
    border-radius: 5px;
}
/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;

}

img:hover{
   width: 50%;

}

li a:hover{
    color:crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
/*selector de clase*/
.img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;


}
.texto{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 5px 25px;
    color: rgb(11, 10, 10);

}

#pie{
    height: 60px;
    background-color: #687e91;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;


}

#pie h4{
    padding: 15px;
    font-size: 25px;
    color: rgb(227, 227, 241);
}
.card{
    box-shadow: 0px 4px 8px  rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 300px;
    margin:auto ;
    text-align: center;
    border: 1px solid;
    border-radius: 15px ;
}
.card:hover{
}

.card img{
    background-color: rgb(196, 206, 214);
width: 100%;

}
.title{
    color: rgb(249, 248, 248);
    font-size: 15px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(13, 13, 13);
    background-color: rgb(235, 234, 234);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.letra{
    font-size: 35px;
    font-family:"kalnia";

}


.vollkorn-sc-bold {
    font-family: "Vollkorn SC", serif;
    font-weight: 700;
    font-style: normal;
  }
  .lancelot-regular {
    font-family: "Lancelot", serif;
    font-weight: 400;
    font-style: normal;
  }
  .contenedorrFlex{
    display: flex;
    width: 100%;
    height: 300%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    gap: 25px;
}
  

  
  
  
  
  

  