*{

    box-sizing: border-box;
}
.contenedorFlex{
    display: flex;
    width: 1000px;
    flex-direction: row;
    background-color: rgb(162, 191, 236);
    padding: 10px;
    border: 2px solid black;
     
}


.contenedorflexwr{

    display: flex;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding: 10px;
    border: 2px solid rgb(9, 9, 9);
    background-color: rgb(249, 225, 188);
    }
   



    .contenedorflexAIC{

        display: flex;
        width: 500px;
        height: 400px;
        flex-direction:row;
        align-items: center;
        padding: 10px;
        border: 2px solid black;
        background-color: rgb(217, 194, 248);
        }

        .contenedorflexAIC1{

            display: flex;
            width: 500px;
            height: 400px;
            justify-content: center;
            flex-direction:row;
            align-items: center;
            padding: 10px;
            border: 2px solid black;
            background-color: rgb(155, 126, 126);
            }

       
    .contenedorflexAIE{

        display: flex;
        width: 500px;
        height: 400px;
        flex-direction:row;
        align-items:end;
        padding: 10px;
        border: 2px solid black;
        background-color: rgb(198, 246, 223);
        }

        .contenedorflexAIESTRECH{

            display: flex;
            width: 500px;
            height: 400px;
            flex-direction:row;
            align-items:stretch;
            padding: 10px;
            border: 2px solid black;
            background-color: rgb(137, 179, 197);
            }
       







.contenedorflexj{

    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(94, 152, 123);
    }

 
   
    .contenedorflexj1{

        display: flex;
        width: 800px;
        flex-direction: row;
        justify-content: end;
        padding: 10px;
        border: 2px solid black;
        background-color: rgb(120, 121, 48);
        }
   



           
    .contenedorflexj2{

        display: flex;
        width: 800px;
        flex-direction: row;
        justify-content:space-around;
        padding: 10px;
        border: 2px solid black;
        background-color: rgb(244, 173, 214);
        }

        .contenedorflexj3{

            display: flex;
            width: 800px;
            flex-direction: row;
            justify-content:space-between;
            padding: 10px;
            border: 2px solid black;
            background-color: rgb(65, 134, 213);
            }



 


.item{

background-color: aqua;
width: 100px;
margin: 10px;
border: 2px solid;
text-align: center;
line-height: 25px;
font-size: 25px;


}

#item:hover{

background-color: goldenrod;
}



