*{
    padding: 0;
}
.titulo{
    font-size: 40px;
    text-align: center;
}
.subtitulo{
    margin: 10px;
    text-align: center;
}
.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.contener{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: rgb(144, 154, 196);
}

@media screen and (max-width:1200px){

    body{
        background-color: black;
        color: blue;
    }
    .titulo{
        font-size: 30px;
    }
    
}
@media screen and (max-width:900px) {
     body {
        background-color: aqua;
        color: brown;
     }
     .titulo{
        font-size: 25px;
     }
     .img{
        width: 70%;
     }
}
@media screen and (max-width:600px) {

    body {
        background-color: rgb(33, 64, 64);
        color: rgb(160, 228, 170);
     }
     .titulo{
        font-size: 20px;
     }
     .img{
        width: 60%;
     }
}
@media screen and (max-width:400px) {

    body {
        background-color: rgb(135, 159, 203);
        color: rgb(139, 135, 172);
     }
     .titulo{
        font-size: 50px;
     }
     .img{
        width: 50%;
     }
}

